@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.noto-serif-sm {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.noto-serif-md {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.noto-serif-lg {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.noto-serif-xl {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-block: 2rem;
  background: #111;
  color: white;
}

.speech {
  pointer-events: none;
  user-select: none;
  text-transform: capitalize;
  width: 70vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.text-box {
  display: inline;
  position: relative;
  margin-inline: 0.1rem;
  margin-block: 0.1rem;
  opacity: 0;
  p {
    opacity: 0;
  }
}

.hider {
  width: 100%;
  height: 110%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media-buttons {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  .button {
    cursor: pointer;
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    background: white;
    border-radius: 3px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button .music {
    transform: all .3s ease;
    line-height: 1rem;
    position: absolute;
  }
  .button .media {
    transform: all .3s ease;
    line-height: 1rem;
    position: absolute;  
  }
  margin-bottom: 1rem;
}

.lessons {
  user-select: none;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .chapter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    .progress {
      width: 5px;
      height: 100%;
      height: 5px;
      border-radius: 20px;
      overflow: hidden;
      background: #777;
      .line {
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0;
      }
    }
    .title {
      color: #777;
      cursor: pointer;
      font-size: 1.3rem;
    }
  }
}